<launch>
	<!-- ========================================================== -->
	<!-- Launch everything needed for Kinefly, except the           -->
   	<!-- source image streams.                                      -->
	<!-- ========================================================== -->	

	<include file="$(find Kinefly)/launch/$(env RIG)/params_kinefly.launch"   	ns="kinefly" 	/>
	<!-- include file="$(find Kinefly)/launch/$(env RIG)/params_phidgetsanalog.launch" 		/ -->

	<node name="kinefly"     	pkg="Kinefly"   	type="kinefly.py"      	required="true" />

	<node name="read_AI"     	pkg="mcdaq"   		type="read_AI.py"      	required="true" />

	<node name="flystate2phidgetsanalog"    pkg="Kinefly"   type="flystate2phidgetsanalog.py" ns="kinefly"  required="true"	/>

	<include file="$(find Kinefly)/launch/$(env RIG)/fictrac_camera.launch" 		/>

	<!-- include file="$(find Kinefly)/launch/$(env RIG)/fictrac_camera.launch" 		/ -->

</launch>
