<launch>
	<!-- ========================================================== -->
	<!-- Source images for Kinefly.                                 -->
	<!-- ========================================================== -->

    <param name="use_sim_time"                 type="bool" value="false"/>

    <node name="playbag" pkg="rosbag" type="play" args="--clock --delay=3 --rate=0.5 $(env BAGFILE)" required="true" />
    <node name="republisher" pkg="image_transport" type="republish" args="compressed raw in:=camera/image_raw out:=camera/image_raw" />

</launch>