<launch>
	<!-- ========================================================== -->
	<!-- Configuration of the reinfocment learning environment      -->
	<!-- ========================================================== -->

    <!--

    v#0  - constant offset
    v#ha - head angle

    -->

    <!-- Arena panels -->
    <!-- param name="env/autorange"             type="bool"   value="false" -->
    <param name="panels/pattern_id"     type="int"    value="1"     />
    <param name="panels/pattern_ypos"   type="int"    value="5"     />
    <param name="panels/pattern_xpos"   type="int"    value="48"    />

    <!-- Phidget output for head & wings -->
    <param name="phidget/head_channel"   type="string"   value="v0ha" />
    <param name="phidget/lwing_channel"  type="string"   value="v0l1" />
    <param name="phidget/rwing_channel"  type="string"   value="v0r1" />



    <!-- Learning parameters -->


   </launch>